@-moz-document url("about:newtab") {
    body {
        background-image: url("file:///home/jacobarch/.mozilla/firefox/l1j76n7r.default-release/chrome/assets/wallpaper.png") !important;
        background-size: cover !important;
        background-attachment: fixed !important;
        background-position: center center !important;
        background-repeat: no-repeat !important;
    }
}
